/** 
*
*	Общие стили для всех страниц
*
*/


@font-face {
	font-family: "Lato";
	src: url("../fonts/lato/Lato-Regular.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-family:  'Lato', sans-serif;
	font-size: 14px;	
	background-color: rgba(243, 240, 240, 0.23);
	color: rgb(48, 48, 48);
	height: 100%;
}

// общий контейнер
.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 10px 5px;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	background-color: rgb(255, 255, 255);
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 36px;
}

.menu {
	display: flex;
	justify-content: center;


	& a:not(:first-child) {
		color: rgb(48, 48, 48);
		text-decoration: none;
		line-height: 3.071;
		margin-left: 32px;
	}
}

.buy {
	display: flex;
	align-items: center;

	& .account-img {
			display: inline-block;
			background: url('/images/account.png') no-repeat center;
			background-position: bottom;
			background-size: cover;
			height: 29px;
			width: 29px;
		}

	& .basket-img {
			margin-left: 50px;
			display: inline-block;
			background: url('/images/basket.png') no-repeat center;
			background-size: contain;
			height: 30px;
			width: 30px;
		}		

	& a {
		color: rgb(48, 48, 48);
		text-decoration: none;
		line-height: 3.071;
	}
}


.logo {
	display: inline-block;
	background: url('/images/logo.jpg') no-repeat center;
	background-size: contain;
	height: 42px;
	width: 42px;
}

.main {
	flex: 1 1 auto;
}

.footer {
	font-size: 12px;
	line-height: 1.917;
	text-align: left;
	display: flex;

	&-item:not(:last-child) {
		border-right: 1px solid grey;
	}

	&-item {
		width: 33.333%;
		display: flex;
		justify-content: center;
	
		&-contain {
			display: flex;
			flex-direction: column;
		}
	}

	& a {
		color: rgb(48, 48, 48);
		text-decoration: none;
	}

	& h2 {
		font-size: 14px;
		text-transform: uppercase;
		line-height: 2.5;
		text-align: left;
	}
	
	&-icon {
		padding-top: 20px;

		&_vk {
			display: inline-block;
			background: url('/images/vk.png') no-repeat center;
			background-size: contain;
			height: 33px;
			width: 33px;
		}

		&_tele {
			display: inline-block;
			background: url('/images/telegram.png') no-repeat center;
			background-size: contain;
			height: 33px;
			width: 33px;
			margin-left: 10px;
		}
		
		&_insta {
			display: inline-block;
			background: url('/images/insta.png') no-repeat center;
			background-size: contain;
			height: 33px;
			width: 33px;
			margin-left: 10px;
		}
	}
}


// Лоадер
.loader {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	color: #fff;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.5);

	&.show{
		display: flex;
	}
}